In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snc
import scipy.stats as stats

In [2]:
df=pd.read_csv("Sales_add.csv")
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

# 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [21]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [29]:
sales_before_add = df['Sales_before_digital_add(in $)']
sales_after_add = df['Sales_After_digital_add(in $)']

In [42]:
tvalue,pvalue = stats.ttest_ind(sales_before_add,sales_after_add)

In [43]:
stats.ttest_ind(sales_before_add,sales_after_add)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [44]:
tcriteria = stats.t.ppf(1-0.05,40)
stats.t.ppf(1-0.05,40)

1.68385101138658

In [47]:
if (tvalue>tcriteria and pvalue <0.05):
    print('Reject H0:There is increase in sales after starting digital marketing')
else:
    print('Reject H1:There is no increase in sales after starting digital marketing')

Reject H1:There is no increase in sales after starting digital marketing

**So We can conclude that there is a hike in sales after starting digital marketing**

# 2 The company needs to check whether there is any dependency between the features Region and Manager

In [48]:
df1=df.groupby('Region')['Manager'].value_counts().unstack()

In [49]:
df1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [52]:
chivalue,pvalue,df,expvalues=stats.chi2_contingency(df1)

In [54]:
print('Chi sqaure Test Statistic:',chivalue)
print('Pvalue of test data;',pvalue)
print('Degrees of Freedom:',df)
print('Expected observations of data:',expvalues)

Chi sqaure Test Statistic: 3.050566893424036
Pvalue of test data; 0.5493991051158094
Degrees of Freedom: 4
Expected observations of data: [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [55]:
chicriteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [56]:
if(chivalue>chicriteria and pvalue<0.05):
    print('reject H0: Region and Manager features are independent')
else:
    print('reject H1: Region and Manager features are dependent')

reject H1: Region and Manager features are dependent

**Finaly  the Chi square test for independence the Features Region and Manager are not dependent**